*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    background-color: #48c5c3;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    color: white;
    
}

.title{
    font-size: 22px;
}

section{
    padding: 20px;
    background-image: url(../image/pexels-fauxels-3183197.jpg);
    background-size:cover;
    /* background-position: center; */
    overflow: hidden;
}

.FormContainer{
    float: right;
    max-width: 230px;
    background-color: #ffffffbb;
    padding: 20px;

}

h2{
    font-size: 16px;
}

.mb{
    margin-bottom: 15px;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"]{
    background-color: #48c5c3;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

footer{
    background-color: #202121;
    padding: 20px;
    text-align: center;
}

.picture{
    width: 160px;
}

.description{
    display: inline-block;
    max-width: 40%;
    color: white;
    text-align: left;
    margin-left: 40px;
}

.description h3, .description p{
    margin-bottom: 20px;
    
}

.description h3{
    font-size: 24px;
}

@media screen and (max-width:666px) {
    .section{
        padding: 0;
    }
    .FormContainer{
        float: none;
        margin: auto;
        max-width: 60%;
    }
    .description{
        display: block;
        max-width: 60%;
        margin: auto;
        text-align: justify;
    }
    .description h3{
        text-align: center;
    }
    
}